{% extends "encyclopedia/layout.html" %}

{% block title %}
    Editing {{ title }} - Wiki
{% endblock %}

{% block body %}
    <h2>Editing <strong>{{ title }}</strong></h2>

    <form action="{% url 'encyclopedia:edit' title %}" method="POST">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{% url 'encyclopedia:entry' title %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock %}
